.header{
    width:100vw;
    height:40px;
    background-color: white;
    color:black;
    display: inline-flex;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 20;
}
.header h1{
 font-size: 1.5rem;
 color: rgb(0, 153, 255);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header ul{
   list-style-type: none; 
   display: flex;
   gap: 40px;
   font-size: 1.2rem;
}
.userState{
    position: relative;
    left:5%;
    border:1px solid rgb(67, 145, 208);
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.2rem;
    color:rgb(67, 145, 208);
}
.userState:hover{
    background-color:rgb(67, 145, 208) ;
    color:white;
    cursor: pointer;
}