.background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backimage{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 10;
}
.center{
    width: 700px;
    height: 300px;
    display: flex;
    border:5px groove grey;
    border-radius: 10px;
    background-color: rgb(242, 234, 234);
    z-index: 20;

}
.center img{
    width: 50%;
    height: 100%;
    background-color: rgb(30, 223, 223);
    border-radius: 10px;
}
.container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
}
.container label{
    font-size: 0.8rem;
}
.container input{
    border-radius: 3px;
    width:85%;
    max-width:300px;
    height:25px;
    font-size: 1rem;
    margin-top: 10px;
}
.container button{
    width:150px;
    height:30px;
    margin-top: 20px;
    background-color: transparent;
    color: rgb(81, 81, 227);
    font-weight: bold;
    border-radius: 7px;
    border:3px solid rgb(81, 81, 227);
}
.container button:hover{
    background-color: rgb(81, 81, 227);
    color:white;
    border:3px solid white;
}
.container label{
    margin-top: 5px;
}
.container a:hover{
    cursor: pointer;
    color: blue;

}

.darkbackground{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkbackimage{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index:10;
}
.darkcenter{
    width: 700px;
    height: 300px;
    display: flex;
    border:5px solid rgb(59, 58, 58);
    border-radius: 10px;
    background-color: rgb(85, 83, 83);
    z-index: 20;

}
.darkcenter img{
    width: 50%;
    height: 100%;
    border-radius: 10px;
}
.darkcontainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}
.darkcontainer label{
    font-size: 0.8rem;
}
.darkcontainer input{
    border-radius: 3px;
    width:85%;
    max-width:300px;
    height:25px;
    font-size: 1rem;
    margin-top: 10px;
}
.darkcontainer button{
    width:150px;
    height:30px;
    margin-top: 20px;
    background-color: transparent;
    color: rgb(81, 81, 227);
    font-weight: bold;
    border-radius: 7px;
    border:3px solid rgb(81, 81, 227);
}
.darkcontainer button:hover{
    background-color: rgb(81, 81, 227);
    color:white;
    border:3px solid white;
}
.darkcontainer label{
    margin-top: 5px;
}
.darkcontainer a:hover{
    cursor: pointer;
    color: blue;

}