.headline{
    position: relative;
    min-height: 3rem;
    border-bottom: 2px solid gray;
    z-index: 10;
}
.headline h3{
    margin-left: 50px;
}
.profile{
    position: absolute;
    right:0;
    top:0;
    font-size: 1rem;
    width:30rem;
    height:fit-content;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(247, 211, 247) ;
    z-index: 10;
}
.profile button{
    border:none;
    background-color: transparent;
    font-size: 1rem;
    color:blue;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.profile button:hover{
    cursor: pointer;
}
.contacts{
    width:680px;
    min-height:11rem;
    border-bottom: 2px solid gray;
    position: absolute;
    right:70px;
    top:60px;
    z-index: 10;
}
.details{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.details button{
    width:70px;
    height:30px;
    font-size: 0.8rem;
    font-weight: bold;
    color:red;
    background-color: white;
    margin-top: 20px;
    border: 3px solid red;
    border-radius: 10px;
}
.details button:hover{
    background-color: red;
    color:white;
    cursor: pointer;
}
.contactform{
    display:flex;
    width:100%;
    height:fit-content;
    gap:7%;
    padding-left: 6%;

}
.name,
.url{
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
}
.name input,
.url input{
    width:200px;
    height:25px;
    border-radius: 5px;
    font-size: 1rem;
}
.update button{
    width:70px;
    height:30px;
    font-size: 0.8rem;
    font-weight: bold;
    color:white;
    border: none;
    position: absolute;
    top:8.5rem;
    left:10%;
    background-color: rgb(170, 78, 78);
    border-radius: 10px;
}
.update button:hover{
    background-color: brown;
    cursor: pointer;
}
.verify{
    width:300px;
    margin: 20px;
    min-height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 5px;
}
.verify button{
    height:25px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(92, 92, 233);
    color:white;
    font-weight: bold;
}
@media(max-width:1050px){
    .contacts{
        left:5%;
        top:200px;
    }

}
@media(max-width:830px){
    .headline{
      height:6rem;
    }
    .profile{
        top: 40px;
        left:20px;
    }
}